.u-section-1 {min-height: 934px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 934px}
.u-section-1 .u-container-layout-1 {padding: 20px 1px}
.u-section-1 .u-image-1 {width: 1289px; height: 138px; margin: 101px auto 0}
.u-section-1 .u-image-2 {width: 528px; height: 494px; margin: -54px auto 0}
.u-section-1 .u-image-3 {width: 898px; height: 43px; position: relative; margin: 60px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {width: 806px; height: 86px; margin-top: 77px}
.u-section-1 .u-image-2 {width: 435px; height: 407px; margin-top: 37px}
.u-section-1 .u-image-3 {width: 664px; height: 32px} }

@media (max-width: 991px){ .u-section-1 {min-height: 643px}
.u-section-1 .u-layout-cell-1 {min-height: 643px}
.u-section-1 .u-image-1 {width: 617px; height: 66px; margin-top: 73px}
.u-section-1 .u-image-2 {width: 333px; height: 312px}
.u-section-1 .u-image-3 {width: 612px; height: 30px; margin-top: 44px} }

@media (max-width: 767px){ .u-section-1 {min-height: 536px}
.u-section-1 .u-layout-cell-1 {min-height: 536px}
.u-section-1 .u-image-1 {width: 477px; height: 51px; margin-top: 24px}
.u-section-1 .u-image-2 {width: 313px; height: 292px; margin-top: 44px}
.u-section-1 .u-image-3 {width: 506px; height: 24px} }

@media (max-width: 575px){ .u-section-1 {min-height: 532px}
.u-section-1 .u-layout-cell-1 {min-height: 532px}
.u-section-1 .u-image-1 {width: 282px; height: 30px; margin-top: 30px}
.u-section-1 .u-image-2 {margin-top: 42px}
.u-section-1 .u-image-3 {width: 333px; height: 16px; margin-top: 35px} }.u-section-2 {min-height: 784px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 784px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-image-1 {width: 543px; height: 544px; margin: 100px auto 0 58px}
.u-section-2 .u-image-2 {width: 880px; height: 114px; margin: -354px 43px 0 auto}
.u-section-2 .u-image-3 {width: 76px; height: 80px; position: relative; margin: 31px 612px 0 auto}
.u-section-2 .u-image-4 {width: 76px; height: 80px; margin: -427px 176px 0 auto} 

@media (max-width: 1199px){ .u-section-2 {min-height: 655px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 655px}
.u-section-2 .u-image-1 {width: 448px; height: 449px; margin-left: 48px}
.u-section-2 .u-image-2 {width: 516px; height: 67px; margin-top: -266px; margin-right: 51px}
.u-section-2 .u-image-3 {width: 63px; height: 66px; margin-top: 119px; margin-right: 442px}
.u-section-2 .u-image-4 {width: 63px; height: 66px; margin-right: 220px} }

@media (max-width: 991px){ .u-section-2 {min-height: 532px}
.u-section-2 .u-layout-cell-1 {min-height: 532px}
.u-section-2 .u-image-1 {width: 343px; height: 344px; margin-left: 37px}
.u-section-2 .u-image-2 {width: 395px; height: 51px; margin-top: -250px; margin-right: 39px}
.u-section-2 .u-image-3 {width: 48px; height: 51px; margin-right: 338px}
.u-section-2 .u-image-4 {width: 48px; height: 51px; margin-top: -412px; margin-right: 168px} }

@media (max-width: 767px){ .u-section-2 {min-height: 507px}
.u-section-2 .u-layout-cell-1 {min-height: 507px}
.u-section-2 .u-container-layout-1 {padding-top: 33px; padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {width: 322px; height: 322px; margin-top: 11px; margin-left: auto}
.u-section-2 .u-image-2 {width: 371px; height: 48px; margin-top: 65px; margin-right: auto}
.u-section-2 .u-image-3 {width: 45px; height: 47px; margin-top: -104px; margin-right: auto}
.u-section-2 .u-image-4 {width: 45px; height: 47px; margin-top: -260px; margin-right: auto; margin-left: 76px} }

@media (max-width: 575px){ .u-section-2 {min-height: 598px}
.u-section-2 .u-layout-cell-1 {min-height: 598px}
.u-section-2 .u-container-layout-1 {padding-top: 20px}
.u-section-2 .u-image-2 {width: 326px; height: 42px; margin-top: 124px}
.u-section-2 .u-image-3 {margin-top: -157px}
.u-section-2 .u-image-4 {margin-top: 109px; margin-right: 99px; margin-left: auto} }.u-section-3 {min-height: 784px}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 784px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-image-1 {width: 327px; height: 356px; margin: 29px auto 0 354px}
.u-section-3 .u-image-2 {width: 327px; height: 356px; margin: -13px auto 0 66px}
.u-section-3 .u-image-3 {width: 499px; height: 543px; margin: -637px auto 0 99px}
.u-section-3 .u-image-4 {width: 825px; height: 108px; margin: -357px 0 0 auto} 

@media (max-width: 1199px){ .u-section-3 {min-height: 731px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 731px}
.u-section-3 .u-image-1 {width: 269px; height: 293px; margin-left: 292px}
.u-section-3 .u-image-2 {width: 269px; height: 293px; margin-top: 50px; margin-left: 55px}
.u-section-3 .u-image-3 {width: 393px; height: 428px; margin-top: -534px; margin-left: 95px}
.u-section-3 .u-image-4 {width: 545px; height: 71px; margin-top: -255px; margin-right: 10px} }

@media (max-width: 991px){ .u-section-3 {min-height: 611px}
.u-section-3 .u-layout-cell-1 {min-height: 611px}
.u-section-3 .u-image-1 {width: 206px; height: 225px; margin-left: 224px}
.u-section-3 .u-image-2 {width: 206px; height: 225px; margin-left: 42px}
.u-section-3 .u-image-3 {width: 301px; height: 328px; margin-top: -428px; margin-left: 73px}
.u-section-3 .u-image-4 {width: 430px; height: 55px; margin-top: -192px; margin-right: 30px} }

@media (max-width: 767px){ .u-section-3 {min-height: 737px}
.u-section-3 .u-layout-cell-1 {min-height: 737px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 193px; height: 211px; margin-top: 32px; margin-right: 145px; margin-left: auto}
.u-section-3 .u-image-2 {width: 194px; height: 211px; margin-left: 145px}
.u-section-3 .u-image-3 {width: 261px; height: 282px; margin-top: -383px; margin-left: auto}
.u-section-3 .u-image-4 {width: 403px; height: 51px; margin-top: 140px; margin-right: auto; margin-left: 109px} }

@media (max-width: 575px){ .u-section-3 {min-height: 654px}
.u-section-3 .u-layout-cell-1 {min-height: 654px}
.u-section-3 .u-image-1 {margin-top: 19px; margin-right: 70px}
.u-section-3 .u-image-2 {margin-left: 77px}
.u-section-3 .u-image-3 {width: 277px; height: 302px; margin-top: -386px; margin-right: 70px}
.u-section-3 .u-image-4 {width: 292px; height: 38px; margin-top: 123px; margin-left: auto} }.u-section-4 {min-height: 923px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 923px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-image-1 {width: 659px; height: 367px; margin: 179px auto 0 57px}
.u-section-4 .u-image-2 {width: 645px; height: 627px; margin: -446px auto 0}
.u-section-4 .u-image-3 {width: 734px; height: 707px; margin: -667px -10px 0 auto} 

@media (max-width: 1199px){ .u-section-4 {min-height: 847px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 847px}
.u-section-4 .u-image-1 {width: 544px; height: 327px; margin-left: 7px}
.u-section-4 .u-image-2 {width: 532px; height: 517px; margin-top: -359px; margin-right: 182px; margin-left: 294px}
.u-section-4 .u-image-3 {width: 678px; height: 678px; margin-top: -566px; margin-right: -16px; margin-left: 505px} }

@media (max-width: 991px){ .u-section-4 {min-height: 639px}
.u-section-4 .u-layout-cell-1 {min-height: 639px}
.u-section-4 .u-image-1 {width: 450px; height: 250px; margin-top: 87px; margin-left: 5px}
.u-section-4 .u-image-2 {width: 407px; height: 356px; margin-top: -238px; margin-right: 139px; margin-left: 225px}
.u-section-4 .u-image-3 {width: 333px; height: 333px; margin-top: -368px; margin-right: -20px; margin-left: auto} }

@media (max-width: 767px){ .u-section-4 {min-height: 697px}
.u-section-4 .u-layout-cell-1 {min-height: 697px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-1 {width: 353px; height: 196px; margin-top: 452px; margin-left: auto}
.u-section-4 .u-image-2 {width: 382px; height: 371px; margin-top: -607px; margin-right: auto; margin-left: 119px}
.u-section-4 .u-image-3 {width: 402px; height: 402px; margin-top: -412px; margin-right: -15px; margin-left: 255px} }

@media (max-width: 575px){ .u-section-4 {min-height: 537px}
.u-section-4 .u-layout-cell-1 {min-height: 537px}
.u-section-4 .u-image-1 {width: 204px; height: 114px; margin-top: 360px}
.u-section-4 .u-image-2 {width: 274px; height: 266px; margin-top: -419px; margin-left: auto}
.u-section-4 .u-image-3 {width: 295px; height: 294px; margin-top: -300px; margin-right: -9px; margin-left: auto} }.u-section-5 {min-height: 871px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 871px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-image-1 {width: 669px; height: 419px; margin: 173px auto 0}
.u-section-5 .u-image-2 {width: 577px; height: 533px; margin: -469px auto 0 0}
.u-section-5 .u-image-3 {width: 383px; height: 519px; margin: -498px -20px 0 auto}
.u-section-5 .u-image-4 {width: 349px; height: 473px; margin: -413px -20px 0 auto} 

@media (max-width: 1199px){ .u-section-5 {min-height: 673px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 673px}
.u-section-5 .u-image-1 {width: 500px; height: 313px; margin-top: 158px; margin-left: 231px}
.u-section-5 .u-image-2 {width: 476px; height: 439px; margin-top: -382px; margin-left: -11px}
.u-section-5 .u-image-3 {width: 359px; height: 476px; margin-top: -485px; margin-right: -16px; margin-left: 779px}
.u-section-5 .u-image-4 {width: 383px; height: 508px; position: relative; margin-top: -415px; margin-right: -16px; margin-left: 767px} }

@media (max-width: 991px){ .u-section-5 {min-height: 640px}
.u-section-5 .u-layout-cell-1 {min-height: 640px}
.u-section-5 .u-image-1 {width: 383px; height: 240px; margin-top: 150px; margin-left: 177px}
.u-section-5 .u-image-2 {width: 364px; height: 336px; margin-top: -305px; margin-left: 35px}
.u-section-5 .u-image-3 {width: 293px; height: 388px; margin-top: -342px; margin-right: auto; margin-left: 574px}
.u-section-5 .u-image-4 {width: 271px; height: 360px; margin-top: -346px; margin-right: -13px; margin-left: 585px} }

@media (max-width: 767px){ .u-section-5 {min-height: 705px}
.u-section-5 .u-layout-cell-1 {min-height: 705px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {width: 359px; height: 225px; margin-top: 427px; margin-left: auto}
.u-section-5 .u-image-2 {width: 342px; height: 315px; margin-top: -593px; margin-left: 47px}
.u-section-5 .u-image-3 {width: 275px; height: 364px; margin-top: -267px; margin-left: 395px}
.u-section-5 .u-image-4 {width: 280px; height: 371px; margin-top: -324px; margin-right: -9px; margin-left: 395px} }

@media (max-width: 575px){ .u-section-5 {min-height: 650px}
.u-section-5 .u-layout-cell-1 {min-height: 650px}
.u-section-5 .u-container-layout-1 {padding-left: 4px; padding-right: 4px}
.u-section-5 .u-image-1 {width: 240px; height: 150px; margin-top: 451px}
.u-section-5 .u-image-2 {width: 317px; height: 293px; margin-top: -553px; margin-left: 50px}
.u-section-5 .u-image-3 {width: 224px; height: 297px; margin-top: -306px; margin-right: -4px; margin-left: auto}
.u-section-5 .u-image-4 {width: 235px; height: 312px; margin-top: -204px; margin-right: -4px; margin-left: auto} }.u-section-6 {min-height: 880px}
.u-section-6 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 880px}
.u-section-6 .u-container-layout-1 {padding: 20px}
.u-section-6 .u-image-1 {width: 526px; height: 527px; margin: 0 auto}
.u-section-6 .u-image-2 {width: 1010px; height: 223px; margin: 13px auto 0} 

@media (max-width: 1199px){ .u-section-6 {min-height: 50vw}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 720px}
.u-section-6 .u-image-1 {width: 434px; height: 435px}
.u-section-6 .u-image-2 {width: 833px; height: 184px} }

@media (max-width: 991px){ .u-section-6 {min-height: 640px}
.u-section-6 .u-layout-cell-1 {min-height: 640px}
.u-section-6 .u-image-1 {width: 332px; height: 333px}
.u-section-6 .u-image-2 {width: 638px; height: 141px; margin-top: 37px; margin-left: 64px} }

@media (max-width: 767px){ .u-section-6 {min-height: 538px}
.u-section-6 .u-layout-cell-1 {min-height: 538px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {width: 312px; height: 312px}
.u-section-6 .u-image-2 {width: 520px; height: 115px; margin-top: 36px; margin-left: auto} }

@media (max-width: 575px){ .u-section-6 {min-height: 472px}
.u-section-6 .u-layout-cell-1 {min-height: 471px}
.u-section-6 .u-container-layout-1 {padding-left: 4px; padding-right: 4px}
.u-section-6 .u-image-2 {width: 326px; height: 72px; margin-top: 29px} }.u-section-7 {min-height: 814px}
.u-section-7 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-7 .u-layout-cell-1 {min-height: 814px}
.u-section-7 .u-container-layout-1 {padding: 20px}
.u-section-7 .u-image-1 {width: 696px; height: 789px; margin: -62px auto 0 -7px}
.u-section-7 .u-image-2 {width: 626px; height: 240px; margin: -450px 12px 0 auto} 

@media (max-width: 1199px){ .u-section-7 {min-height: 709px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 709px}
.u-section-7 .u-image-1 {width: 574px; height: 650px; margin-top: 30px; margin-left: -6px}
.u-section-7 .u-image-2 {width: 414px; height: 157px; margin-top: -392px; margin-right: 18px} }

@media (max-width: 991px){ .u-section-7 {min-height: 565px}
.u-section-7 .u-layout-cell-1 {min-height: 565px}
.u-section-7 .u-image-1 {width: 439px; height: 498px; margin-top: 16px; margin-left: -4px}
.u-section-7 .u-image-2 {width: 317px; height: 125px; margin-top: -312px} }

@media (max-width: 767px){ .u-section-7 {min-height: 514px}
.u-section-7 .u-layout-cell-1 {min-height: 514px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-1 {width: 322px; height: 365px; margin-top: 23px; margin-left: 0}
.u-section-7 .u-image-2 {width: 276px; height: 106px; margin-top: -204px; margin-right: 22px} }

@media (max-width: 575px){ .u-section-7 {min-height: 328px}
.u-section-7 .u-layout-cell-1 {min-height: 328px}
.u-section-7 .u-image-1 {width: 148px; height: 168px; margin-top: 60px; margin-left: 39px}
.u-section-7 .u-image-2 {width: 180px; height: 90px; margin-top: -115px; margin-right: 39px} }.u-section-8 {min-height: 500px}
.u-section-8 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-8 .u-layout-cell-1 {min-height: 500px}
.u-section-8 .u-container-layout-1 {padding: 20px}
.u-section-8 .u-image-1 {width: 352px; height: 311px; margin: 44px auto 0}
.u-section-8 .u-image-2 {width: 323px; height: 114px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-image-1 {width: 290px; height: 256px}
.u-section-8 .u-image-2 {width: 267px; height: 94px} }

@media (max-width: 991px){ .u-section-8 .u-image-1 {width: 222px; height: 196px}
.u-section-8 .u-image-2 {width: 204px; height: 72px} }

@media (max-width: 767px){ .u-section-8 {min-height: auto}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-image-1 {width: 208px; height: 184px}
.u-section-8 .u-image-2 {width: 192px; height: 67px} }

@media (max-width: 575px){ .u-section-8 {min-height: 550px}
.u-section-8 .u-layout-cell-1 {min-height: 550px}
.u-section-8 .u-image-1 {width: 352px; height: 311px}
.u-section-8 .u-image-2 {width: 323px; height: 124px; margin-top: 3px} }.u-section-9 {min-height: 783px; background-image: url("images/bgspecs.jpg")}
.u-section-9 .u-sheet-1 {min-height: 877px}
.u-section-9 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-9 .u-layout-cell-1 {min-height: 392px}
.u-section-9 .u-container-layout-1 {padding: 20px}
.u-section-9 .u-text-1 {font-size: 1.875rem; font-weight: 700; width: 183px; margin: 69px auto 0}
.u-section-9 .u-text-2 {font-size: 1.25rem; width: 378px; margin: 27px auto 0}
.u-section-9 .u-layout-cell-2 {min-height: 392px}
.u-section-9 .u-container-layout-2 {padding: 20px}
.u-section-9 .u-text-3 {font-size: 1.875rem; font-weight: 700; width: 138px; margin: 69px auto 0}
.u-section-9 .u-text-4 {font-size: 1.25rem; width: 280px; margin: 27px auto 0}
.u-section-9 .u-layout-cell-3 {min-height: 392px}
.u-section-9 .u-container-layout-3 {padding: 20px}
.u-section-9 .u-text-5 {font-size: 1.875rem; font-weight: 700; font-style: normal; width: 247px; margin: 85px auto 0}
.u-section-9 .u-text-6 {font-size: 1.25rem; width: 502px; margin: 40px auto 0}
.u-section-9 .u-layout-cell-4 {min-height: 392px}
.u-section-9 .u-container-layout-4 {padding: 20px}
.u-section-9 .u-text-7 {font-size: 1.875rem; font-weight: 700; width: 428px; margin: 85px auto 0}
.u-section-9 .u-text-8 {font-size: 1.25rem; width: 265px; margin: 40px auto 0} 

@media (max-width: 1199px){ .u-section-9 {background-position: 50% 50%}
.u-section-9 .u-sheet-1 {min-height: 723px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {width: 151px; margin-top: 0}
.u-section-9 .u-text-2 {width: 312px}
.u-section-9 .u-text-3 {width: 114px; margin-top: 0}
.u-section-9 .u-text-4 {width: 252px}
.u-section-9 .u-text-5 {width: 204px; margin-top: 0}
.u-section-9 .u-text-6 {margin-left: 33px; margin-right: 33px; width: 414px}
.u-section-9 .u-text-7 {margin-top: 0; margin-left: 24px; margin-right: 24px; width: 431px}
.u-section-9 .u-text-8 {margin-top: 0} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 554px}
.u-section-9 .u-text-1 {width: 116px; margin-top: 106px}
.u-section-9 .u-text-2 {width: 262px; margin-top: 11px; margin-left: 54px; margin-right: 54px}
.u-section-9 .u-text-3 {width: 113px; margin-top: 106px; margin-left: 128px; margin-right: 128px}
.u-section-9 .u-text-4 {width: auto; margin-top: 11px; margin-right: 70px; margin-left: 46px}
.u-section-9 .u-text-5 {width: 156px; margin-top: 64px}
.u-section-9 .u-text-6 {width: 317px; margin-top: 60px; margin-right: 28px; margin-left: 25px}
.u-section-9 .u-text-7 {margin-top: 64px; margin-left: 20px; margin-right: 20px; width: 330px}
.u-section-9 .u-text-8 {width: auto; margin-right: 77px; margin-left: 53px} }

@media (max-width: 767px){ .u-section-9 {min-height: 847px}
.u-section-9 .u-sheet-1 {min-height: 100px}
.u-section-9 .u-layout-cell-1 {min-height: 208px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-1 {width: 108px; margin-top: 16px}
.u-section-9 .u-text-2 {width: 365px; margin-left: auto; margin-right: auto}
.u-section-9 .u-layout-cell-2 {min-height: 193px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-3 {width: 106px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-9 .u-text-4 {margin-left: 44px; margin-right: 44px; width: NaNpx}
.u-section-9 .u-layout-cell-3 {min-height: 198px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-5 {width: 146px; margin-top: 0; margin-left: 237px; margin-right: 237px}
.u-section-9 .u-text-6 {width: 487px; margin-top: 11px; margin-left: auto; margin-right: auto}
.u-section-9 .u-layout-cell-4 {min-height: 247px}
.u-section-9 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-7 {width: 407px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-9 .u-text-8 {margin-left: 49px; margin-right: 49px; width: NaNpx} }

@media (max-width: 575px){ .u-section-9 {min-height: 100px}
.u-section-9 .u-sheet-1 {min-height: 877px}
.u-section-9 .u-layout-cell-1 {min-height: 186px}
.u-section-9 .u-text-1 {margin-top: 0}
.u-section-9 .u-text-2 {margin-left: 33px; margin-right: 33px; width: 340px}
.u-section-9 .u-layout-cell-2 {min-height: 190px}
.u-section-9 .u-text-4 {margin-left: 30px; margin-right: 30px}
.u-section-9 .u-layout-cell-3 {min-height: 216px}
.u-section-9 .u-text-5 {width: 184px; margin-left: auto; margin-right: auto}
.u-section-9 .u-text-6 {margin-left: -10px; margin-right: -10px; width: 340px}
.u-section-9 .u-layout-cell-4 {min-height: 276px}
.u-section-9 .u-text-7 {margin-left: -10px; margin-right: -10px; width: 340px}
.u-section-9 .u-text-8 {width: 250px; margin-left: auto; margin-right: auto} }